<body>

    <h1>Todos los productos</h1>
    <a href="/"><button>Volver al formulario</button></a>

{{#if data}}
    {{#each data}}
    <div>
    <h3>{{this.title}}</h3>
    <p>{{this.price}}</p>
    <p>{{this.thumbnail}}</p>
    <p>{{this.id}}</p>
    <hr/>
    </div>
    {{/each}}
{{else}}
    <h3>No se encontraron productos</h3>
{{/if}}

</body>