<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="home.js" defer></script>

        <style>
        table, th, td {
        border:1px solid black;
        }
        img{
        width: 18%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
        </style>
    </head>
    <body>
        <section>
        <div>
            <button type="button" onclick=window.location='/'>Home</button>
            <button type="button" onclick=window.location='/accounts/logout'>Log out</button>
            <button type="button" onclick=window.location='/accounts/profile'>Profile</button>            
            <button type="button" onclick=window.location='/carritos/micarrito'>Cart</button>
            <button type="button" onclick=window.location='/compras'>Buy History</button>
            <button type="button" onclick=window.location='/chat'>Chat</button>
            {{#if data.userIsAdmin}}
            <button type="button" onclick=window.location='/categorias'>Categories</button>
            <button type="button" onclick=window.location='/info'>Server info</button>
            {{/if}}
            


        </div>
        <h1> Welcome, {{data.name}}</h1>
        </section>
{{#if data.userIsAdmin}}
<iframe name="dummyframe" id="dummyframe" style="display:none"></iframe>
        <section class="input-products">
            <hr>
            <h1>Create a product</h1>
            <form id='newProductForm' method="POST" action='/' target="dummyframe" enctype="application/x-www-form-urlencoded">
                <label for="nombre">Name:</label><br>
                <input type="text" id="name" name="name" required><br><br>

                <label for="precio">Price:</label><br>
                <input type="number" id="price" name="price" required><br><br>

                <label for="thumbnail">Thumbnail:</label><br>
                <input type="text" id="thumbnail" name="thumbnail" required><br><br>
                {{#if data.allCategories}}
                <label for="category">Category</label><br>
                <select name="category" id="category">
                    {{#each data.allCategories}}
                        <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                </select><br><br>
                <input class="createProductBtn" type="submit" value="Submit" onclick='this.form.submit();document.forms["newProductForm"].reset();'>
                    {{else}}
                    <p style="color:crimson">Se necesita crear al menos una categoria antes de poder crear un producto!</p>
                    {{/if}}
            </form>
            <hr>
        </section>
{{/if}}

<label for="categoryFinder">Filter by category:</label>
            <select name="categoryFinder" id="categoryFinder">
                <option value="">All</option>
                {{#each data.allCategories}}
                    <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
            </select>
            <button name="searchButton" id="searchButton" onclick="searchSelect()">Search</button>
        <section id="list-products">
            
        </section>

    </body>
</html>