        <section>
        <div>
            <button type="button" onclick=window.location='/'>Home</button>
            <button type="button" onclick=window.location='/accounts/logout'>Log out</button>
            <button type="button" onclick=window.location='/accounts/profile'>Profile</button>            
            <button type="button" onclick=window.location='/carritos/micarrito'>Cart</button>
            <button type="button" onclick=window.location='/compras'>Buy History</button>
            {{#if data.userIsAdmin}}
            <button type="button" onclick=window.location='/categorias'>Categories</button>
            <button type="button" onclick=window.location='/info'>Server info</button>
            {{/if}}
            


        </div>
        <h1> Welcome, {{data.name}}</h1>
        </section>
<h3>
    Received arguments: {{ data.arguments }}<br>
    Host platform: {{ data.platform }}<br>
    Running on node version: {{ data.node-version }}<br>
    Allocated memory: {{ data.memory }}<br>
    Execution path: {{ data.execpath }}<br>
    PID: {{ data.pid }}<br>
    Project folder: {{ data.folder }}<br>
    Available cpu cores: {{ data.cpus }}<br>
</h3>